<div aria-label="lower content area" id="lower" role="complementary">
  <div class="container"><!--LOWER-->
    <div class="row" id="footer-contact">
      <div class="col-md-4 col-sm-6 col-xs-12">
        <h2>Who We Are</h2>
        <ul>
          <li><strong>Director:</strong> <a href="">Your name here</a></li>
          <li><strong>Email</strong>: <a href="">youremail@unm.edu</a></li>
        </ul>
      </div>
      <div class="col-md-4 col-sm-6 col-xs-12">
        <h2>Contact Us</h2>
        <h3>{{ site.title }}</h3>
        1 University of New Mexico<br>
        Albuquerque, NM 87131<br>
      </div>
      <div class="col-md-4 col-sm-6 col-xs-12">
        <h2>Find Us</h2>
        <p>Visit the <a href="https://www.unm.edu">University of New Mexico</a></p>
      </div>
    </div>
  </div>
</div>
